@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none !important;
  list-style-type: none !important;
}

body {
  max-width: 100vw;
  background-color: #f2f3f5;
}

.herocon {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.featuredproducts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.fontad {
  font-size: 2.5rem;
  background-color: #ffc107;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero {
  min-height: calc(100vh - 114px);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('./images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hero-container img {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 1));


}

.hero-container :nth-child(2) {
  font-size: 1.8rem;
  width: 85%;
  text-align: center;
  color: rgb(230, 216, 216);

}

.hero-container button {
  padding: 0.7rem 2rem;
  color: black;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  background-color: #ffc107;
  transition: 0.3s;

}

.hero-container button:hover {
  background: rgba(255, 193, 7, 0.8);
  cursor: pointer;
}

#footer {
  max-width: 100%;
  overflow: hidden;
}

#search_product_bar {
  width: 19rem;
}

@media (min-width: 0px) and (max-width: 420px) {
  .footerad {
    flex-direction: column;
    gap: 1rem;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.itemcons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100vh;
}

.items {
  width: 250px;
  height: 380px;
  border: 2px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.2s;
  border: 5px solid #ffc107;
  border-radius: 20px;
  background-color: white;
}

.items:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.imagecon {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.imagecon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}

.imagecon img:hover {
  transform: scale(1.1);
}

.itemnamecon {
  width: 100%;
}

.itemnamecon p {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.itempricecon {
  width: 100%;
}

.itempricecon p {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttoncon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttoncon button {
  width: 100%;
  padding: 0.3rem 0rem;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}

.buttoncon button:hover {
  background-color: rgba(255, 193, 7, 0.8);
}

.owl-item {
  display: flex;
  justify-content: center;
}

.owl-prev {
  color: #ffc107 !important;
  font-size: 3.6rem !important;
  transition: 0.3s;
}

.owl-next {
  color: #ffc107 !important;
  font-size: 3.6rem !important;
  transition: 0.3s;
}

.owl-prev:hover {
  background: #f2f3f5 !important;
  opacity: 0.5;
}

.owl-next:hover {
  background: #f2f3f5 !important;
  opacity: 0.5;
}

.owl-nav {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 14rem;
  min-height: 100vh;
  gap: 3rem;
  margin-bottom: 2rem;
}

.productsheader {
  font-size: 2.5rem;
  color: black;
  background-color: rgba(255, 193, 7, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 20px;
  width: 100%;
}

.productscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}

.productscon {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.cart {
  display: flex;
  flex-direction: row;
  padding: 3rem 1rem 3rem 1rem;
  gap: 2rem;
  min-height: calc(100vh - 342px);
  justify-content: space-between;
}

.cartitems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  background-color: white;
  border-radius: 10px;
  /* min-width: 570px */
}

.cartadp {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc107;
  border-radius: 10px 10px 0px 0px;

}

.cartcon {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.imageconn {
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.imageconn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemdetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0rem 1rem 0rem 1rem;
}

.itempriceandname {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemdelete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonscart {
  display: flex;
  gap: 1rem;
}

.adjust {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonscart button {
  padding: 0rem 0.8rem;
  font-size: 1.5rem;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
}

.itemdelete i {
  color: red;
  font-size: 1.5rem;
  transition: 0.2s;
}

.itemdelete i:hover {
  opacity: 0.6;
  cursor: pointer;
}

.itemdetails p {
  font-size: 1.1rem;
}

.cartsummary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  background-color: white;
  border-radius: 10px;
  min-width: 400px
}

.cartsummarycon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1rem 1rem 1rem;
}

.cartsummarycon div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.br {
  width: 100%;
  height: 1px;
  background-color: black;
}

.cartsummarycon div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffc107;
  border: none;
  padding: 0.4rem 0rem;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: 0.2s;
}

.cartsummarycon div button:hover {
  background-color: rgba(255, 193, 7, 0.7);
}

.cartsummarycon p {
  font-size: 1.1rem;
}

/* ..mediaqueries.. */
@media (min-width: 1072px) and (max-width: 1376px) {
  .products {
    padding: 0rem 7rem;
  }

  .hero-container button {
    padding: 0.7rem 2rem;
    font-size: 1.3rem;
  }

  .hero-container p {
    font-size: 1rem;
  }

  .hero-container :nth-child(2) {
    font-size: 1.4rem;
    width: 90%;
    color: rgb(230, 216, 216);
  }

  .fontad {
    font-size: 2rem;
  }

  .productsheader {
    font-size: 2rem;
  }

  .hero {
    min-height: 75vh;
  }
}

@media (min-width: 620px) and (max-width: 1072px) {
  .products {
    padding: 0rem 3rem;
  }

  .hero-container button {
    padding: 0.6rem 1.3rem;
    font-size: 1.2rem;
  }

  .hero-container :nth-child(2) {
    font-size: 1.2rem;
    width: 90%;
    color: rgb(230, 216, 216);
  }

  .fontad {
    font-size: 1.7rem;
  }

  .productsheader {
    font-size: 1.7rem;
  }

  .cart {
    flex-direction: column;
  }

  .items {
    width: 220px;
    height: 350px;
  }

  .imagecon {
    width: 100%;
    height: 170px;
    overflow: hidden;
  }

  .productscon {
    gap: 2rem;
  }

  .hero {
    min-height: 65vh;
  }
}

@media (min-width: 420px) and (max-width: 620px) {
  .products {
    padding: 0rem 1rem;
  }

  .hero-container button {
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
  }

  .hero-container :nth-child(2) {
    font-size: 1.1rem;
    width: 90%;
    color: rgb(230, 216, 216);
  }

  .fontad {
    font-size: 1.4rem;
  }

  .productsheader {
    font-size: 1.4rem;
  }

  .cart {
    flex-direction: column;
  }

  .items {
    width: 170px;
    height: 280px;
    gap: 0rem;
  }

  .imagecon {
    width: 100%;
    height: 170px;
    overflow: hidden;
  }

  .productscon {
    gap: 2rem;
  }

  .hero-container img {
    transform: scale(0.8);
  }

  .buttonscart input {
    width: 50%;
  }

  .buttonscart button {
    padding: 0rem 0.5rem;
    font-size: 1.2rem;
  }

  .buttonscart {
    gap: 0.5rem;
  }

  .cartadp {
    font-size: 1.2rem;
  }

  .cartcon {
    gap: 0.5rem;
  }

  .cartsummarycon div button {
    padding: 0.2rem 0rem;
    font-size: 1rem;
  }

  .cartsummary {
    min-width: 300px;
  }

  .itemnamecon {
    margin-top: 1rem;
  }

  #headerad {
    font-size: 1.6rem !important;
  }

  .hero {
    min-height: 65vh;
  }
}

@media (min-width: 310px) and (max-width: 420px) {
  .products {
    padding: 0rem 1rem;
  }

  .hero-container button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .hero-container :nth-child(2) {
    font-size: 1rem;
    width: 95%;
    color: rgb(230, 216, 216);
  }

  .fontad {
    font-size: 1.2rem;
  }

  .productsheader {
    font-size: 1.2rem;
  }

  .cart {
    flex-direction: column;
  }

  .items {
    width: 135px;
    height: 240px;
    gap: 0rem;
  }

  .items p {
    font-size: 0.9rem;
  }

  .imagecon {
    width: 100%;
    height: 170px;
    overflow: hidden;
  }

  .productscon {
    gap: 2rem;
  }

  .hero-container img {
    transform: scale(0.7);
  }

  .buttonscart input {
    width: 50%;
  }

  .buttonscart button {
    padding: 0rem 0.5rem;
    font-size: 1.2rem;
  }

  .buttonscart {
    gap: 0.5rem;
  }

  .cartadp {
    font-size: 1.2rem;
  }

  .cartcon {
    gap: 0.5rem;
  }

  .cartsummarycon div button {
    padding: 0.2rem 0rem;
    font-size: 1rem;
  }

  .cartsummary {
    min-width: 200px;
  }

  .itemnamecon {
    margin-top: 1rem;
  }

  #headerad {
    font-size: 1.6rem !important;
  }

  .hero {
    min-height: 65vh;
  }

  .buttoncon button {
    width: 100%;
    padding: 0.1rem 0rem;
    font-size: 0.9rem;
  }

  .productscon {
    row-gap: 1rem;
    column-gap: 0.5rem;

  }

  .items {
    padding: 1rem 0.3rem;
  }

  .cartcon {
    flex-direction: column;

  }

  .imageconn {
    height: 150px;
  }

  .cartitems {
    padding: 0rem 0rem 2rem 0rem;
  }

  #search_product_bar {
    width: 13rem;
  }
}